:root {
  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #F7FAFC;
  color: #2D3748;
}

#root {
  max-width: 100%;
  width: 100%;
}
